.contact-header, .contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-header {
    align-items: center;
}
.contact-info-container {
    align-items: flex-start;
    table {
        background-color: transparent;
    }
    tr {
        height: 50px;
    }
}

.personal-info{
}
.social-info {
}

.contact-form {
    font-size: var(--input-text-size);
    text-align: left;
    label {
        font-size: var(--input-text-size);
        //float: left;
    }
}

.contact-input {
    border: var(--normal-border) solid var(--grey-color);
    background-color: transparent;
}
.contact-input:hover {
    transition: all var(--transition-time-fast) ease;
    border: var(--normal-border) solid var(--night-blue);
}
.contact-input:focus {
    border: var(--thick-border) solid var(--highlight-blue);
}

.contact-label {
    width: 120px;
}