// STYLES FOR TABLE

:root {
    --selected-color: #14181E; //change this later
    --table-width: 75vw;
    --table-height: 75vh;

    --cell-padding: 10px;
}

table{ // have to make the table scrollable
    text-align: left;
    background-color: var(--black-color);
    width: 100%;
    border-collapse: collapse;
    // border: 0px solid var(--night-blue);
    // border-radius: 5px;
}

th, td {
    padding-left: var(--cell-padding);
    padding-right: var(--cell-padding);
}


.container {
    border-radius: var(--rounder-border);
    background-color: var(--black-color);
}

.table {
    height: var(--table-height);
}

.headerRow{
    position: static;
    //background-color: var(--night-blue);
    background-color: var(--dark-color);
    height: 40px;
    border-radius: 5px 5px 0px 0px;
}

.dataRow {
    font-size: small;
    height: 45px;
    cursor: pointer;
}
.dataRow:hover {
    background-color: var(--selected-color);
}

.favoritesColumn {
    width: 45px;
}

.socialsColumn {
    width: 100px;
}