:root{
  --primary-color:#090A0d;
  --login-color:#171719;
  --action-color:#3b567c;
  --dark-color:#c9b9ac;
  --black-color:#1e1f13;
  --light-color:#E5E5E5;
  --secondary-color:#2D3540;
  --button-color:#556573;
  --highlight-color: #869AA6;
  --unselected-color:#7a7f81;

  --font-body: 'Open Sans', sans-serif;
  --text-body: 12.5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

h1{
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  color: var(--light-color);
}

// for column headings
h6{
  font-size: 13px;
  font-weight: bold;
  margin: auto;
}
p{
  font-size: var(--text-body);
}

input{
  font-family: var(--font-body);
  color: var(--light-color);
  background-color: var(--primary-color);
  border-radius: 5px;
}
input[type=submit] {
  //display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
  width: 120px;
  height: 46px;
  left: calc(50% - 120px/2 + 3px);
  top: calc(50% - 46px/2 + 92px);

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  
  border: 0px;
  background: var(--button-color);
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--secondary-color);
}

label {
  font-size: 12px;
  color: var(--light-color);
}

hr {
  color: var(--light-color);
}

a{
  text-decoration: none;
}

button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginBox{
  position: absolute;
  width: 550px;
  height: 620px;
  left: calc(50% - 550px/2);
  top: calc(50% - 620px/2);
  background-color: var(--primary-color);
  // display: block;
  // margin: auto;
  // border-radius: 5px;
  // min-width: 500px;
  // min-height: 580px;
}

.loginContent{
  position: absolute;
  width: 383px;
  height: 452px;
  left: 84px;
  top: 84px;
  // padding:70px 90px;
  // column-count: 1;
  // padding-bottom: 20px;
}

.formLogin{
  text-align: left;
  width: 100%;
  height: 176px;
  top: 172px;
}

.inputLabel{
  left: 0%;
  right: 0%;
  top: 1.43%;
  bottom: 72.86%;
  font-weight: 600;
}
// .loginConfirm{
//   padding: 10px 25px;
//   margin-top: 20px;
//   border-radius: 5px;
//   border-style: none;
//   background-color: var(--secondary-color);
//   font-family: 'Open Sans';
//   font-weight: 200;
//   color: var(--light-color);
// }

.inputField{
  font-size: 14px;
  border: 1.75px solid var(--light-color);
  border-color: var(--light-color);

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  // padding:13px 13px;
  // margin-top: 4px;
  // margin-bottom:15px;
}

.forgotpword{
  color: var(--highlight-color);
  font-size: var(--text-body);
  margin-top: 0px;
}
.forgotpword:hover{
  color: var(--button-color);
}

// .googleSignIn{
//     padding: 10px 15px;
//     width: 60%;
//     margin:0px auto;
//     margin-top: 40px;
//     border-radius: 5px;
//     border-style: none;
//     background-color: var(--secondary-color);
//     font-family: 'Open Sans';
//     font-weight: 200;
//     color: var(--light-color);
//     font-size: var(--text-body);
//     img{
//       position: relative;
//     }
//     span{
//       line-height: 5px;
//     }
// }

////// DASHBOARD

nav{
  position: absolute;
  right: 0;
}

.avatarLabel{
  margin-top: 0px;
}

.containerDash{
  margin: 120px 87px;
  width: 90%;
  height: 860px;
}

.actionsBar{
  //padding:20px 0px;
  height: 37px;
  margin-bottom: 25px;
  display: grid;
  grid-template: "a b n n c d";
}

.searchContainer{
  width: 280px;
  border-radius: 5px;
  padding: 5px;
  grid-area: a;
  color: var(--light-color);
  background-color: var(--primary-color);
  input{
    width: 85%;
  }
}
.dashSearch{
  border-style: none;
  background-color: var(--primary-color);
}

.filterContainer{
  width: 204px;
  text-align: left;
  background-color: var(--primary-color);
  grid-area: b;
  border-radius: 5px;
}
.filterForm{
  margin-left: 20px;
}
select{
  background-color: var(--primary-color);
  color: var(--unselected-color);
  border-style: none;
}
option{
  background-color: var(--primary-color);
  color: var(--unselected-color);
  border-style: none;
}

.newContactButton{
  background-color: #4A9C58;
  color: var(--light-color);
  //font-size: var(--text-body);
  grid-area: d;
  width: 145px;
  height: 37px;
  right: 87px;
  top: 120px;
}
.newContactButton:hover{
  background-color: #4FA85E; //chan
}

//// TABLE
table{
  text-align: left;
  background-color: var(--primary-color);
  width: 100%;
  color: var(--light-color);
  border-collapse: collapse;
  // border: 0px solid var(--secondary-color);
  // border-radius: 5px;
}
th, td {
  padding-left: 10px;
  padding-right: 10px;
}

.headerRow{
  position: static;
  background-color: var(--secondary-color);
  color: var(--light-color);
  height: 40px;
  border-radius: 5px 5px 0px 0px;
}
.email{
  width: 170px;
}
.socials{
  width: 82px;
}
.tags{
  width: 190px;
}
.actions{
  width: 76px;
  text-align: center;
  background-color: var(--action-color);
}
.newContact{
  background-color: var(--secondary-color);
  color: var(--light-color);
  font-weight: 600;
  border-radius: 5px;
  padding:5px 5px;
  font-size: smaller;
  img{
    position: relative;
    left: 0;
  }
}
.popup{
  position: absolute;
  background-color: #2D3540;
  width: 100%;
  height: 100vh;
  padding-top: 30vh;
  text-align: center;
  input{
    background-color: #E5E5E5;
  }
}
