button{
    border: none;
    border-radius: var(--round-border);
    margin: var(--margin);
    padding: var(--padding-vertical) var(--padding-horizontal);
    font-family: var(--font-body);
    font-size: var(--button-text-size);
    font-weight: var(--semibold-text);
    cursor: pointer;

    span {
        display: inline-flex;
        vertical-align: middle;
    }
}

button[type=default] {
    color: var(--light-color);
    background-color: var(--secondary-color);
}
button[type=outlined] {
    color: var(--light-color);
    border: 1.5px solid var(--light-color);
    background-color: transparent;
}
button[type=outlined]:hover {
    background-color: rgba(255, 255, 255, 0.25);
}
:hover {
    transition: all var(--transition-time) ease;
}

.smallButton {
    height: var(--small-button-height);
    margin: 0px;
    padding: calc(var(--padding-vertical)/2) calc(var(--padding-horizontal)/2);
    font-size: var(--title-text);
    font-weight: bold;
}

.green{
    color: var(--light-color);
    background-color: #399776;
}
.green:hover{
    background-color: #3EA380;
}
